:root {
  --primary-color: #28282B;
  --secondary-color: #B47AEA;
  --accent-color: #BD93D8;
  --secondary-accent-color: gray;
  --text-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-weight: bold;
  border-bottom: var(--accent-color) solid 1px;
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--primary-color);
  font-family: "Ubuntu", sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  color: var(--text-color)
}

#logo-link, #logo-link:visited {
  text-decoration: none;
  color: var(--text-color);
}

#navbar #nav-ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

#navbar #nav-ul .nav-li {
  display: inline-block;
}

#navbar #nav-ul .nav-li .nav-a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--text-color);
  transition: background-color 0.3s ease;
}

#navbar #nav-ul .nav-li .nav-a:visited {
  color: var(--text-color);
}

#navbar #nav-ul .nav-li .nav-a:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}

#projects {
  display: flex;
  flex-direction: row;
}

.proj-items {
  border: 1px var(--accent-color) solid;
  width: 100px;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 50px;
}

.intro-items {
  padding: 10px;
  color: var(--text-color);
  font-size: 25px;
}

.intro-text {
  color: var(--accent-color)
}

#dev-text {
  color: var(--text-color)
}

#resume-contact {
  display: flex;
  flex-direction: row;
}

.resume-contact-btn{
  padding: 7px;
  margin: 20px;
  border: var(--secondary-accent-color) 3px solid;
  border-radius: 25px;
}

.resume-contact-btn a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  text-align: center;
}

.resume-contact-btn a:visited {
  color: var(--text-color);
}

.resume-contact-btn:hover a {
  color: var(--primary-color);
}

.resume-contact-btn:hover {
  background-color: var(--accent-color);
  border-color: var(--secondary-color);
}